<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:insert="head.html :: head"></head>
<body>
<header th:insert="header.html :: header"></header>
<!--main-content-->
<div id="status" class="container">

    <input  type="checkbox" name="status" th:checked="${active}">Show only active<br>
</div>
<section class=" row">
    <div class="col-lg-4 col-md-6 col-sm-12  " th:each="lot : ${lots}">
        <div class="lot-tile">
            <div th:text="${lot.status}"></div>
            <a th:href="@{'/lot?id='+${lot.id}}"><img width="400" height="300" th:src=${lot.image}></a>
            <span th:text=${lot.title}>title</span>
        </div>
    </div>
</section>

<nav id="pagination" aria-label="Page navigation">
    <ul class="pagination">
        <li th:unless="${active}" th:each="page : ${#numbers.sequence( 1, pageCount)}" class="page-item">
            <a class="page-link" th:href="@{'/auction?page='+${page}}" th:text="${page}"></a></li>
        <li th:if="${active}" th:each="page : ${#numbers.sequence( 1, pageCount)}" class="page-item">
            <a class="page-link" th:href="@{'/auction?page='+${page}+'&status=A'}" th:text="${page}"></a></li>
    </ul>
</nav>
<!-- End of #main-content -->

<!--Footer-->
<footer th:insert="footer.html :: footer"></footer>
<!--End of footer-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>

<script>
    var checkbox = document.querySelector("input[id=status]");
    checkbox.addEventListener('change', function () {
        if (this.checked) {
            window.location.href = "/?status=A";
        } else {
            window.location.href = "/";
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
</html>