<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:insert="head.html :: head"></head>
<body>
<header th:insert="header.html :: header"></header>
<!--main-content-->

<section id="main">
    <div class="row lot-container">
        <div class="col-4 float-left lot-left">
            <div class="lot-tile align-self-center">
                <img class="mx-auto d-block" width="400" height="300" th:src=${lot.image}>
            </div>
        </div>
        <div class="col-6 float-right lot-right">
            <div class="row">
                <div class="row lot-info-row">
                    <div class="col">
                        <h3 id="title" th:text=${lot.title}></h3>
                    </div>
                </div>
                <div class="row lot-info-row">
                    <div class="col text-right">
                        <h4 th:text="${lot.status}"></h4>
                    </div>
                </div>
                <div class="row lot-info-row">
                    <div class="col float-left">
                        <div class="row lot-info-row">
                            <div class="col price">
                                <span class="font-weight-bold">Price:</span>
                                <span th:if="${lot.currentPrice} > 0" th:text=${lot.currentPrice}></span>
                                <span th:if="${lot.currentPrice} == 0" th:text=${lot.startPrice}></span>
                                <span>UAH</span>
                            </div>
                        </div>
                    </div>
                    <div class="col float-right">
                        <div class="row endDate">
                            <div class="col text-right">
                                <span class="font-weight-bold">Ends</span><br/>
                                <span th:text="${#temporals.format(lot.endTime, 'dd-MM-yyyy HH:mm')}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row lot-info-row">
                    <div class="col">
                        <form th:if="${active}" id="bid-button" action="/lot" method="post">
                            <input type="text" hidden
                                   th:value="${lot.currentPrice > 0}? ${lot.currentPrice}: ${lot.startPrice}"
                                   name="price"
                                   id="price">
                            <input type="text" hidden th:value="${lot.id}" name="id" id="id">
                            <input type="text" hidden th:value="${lot.title}" name="lotTitle" id="lotTitle">
                            <button class="btn btn-dark" type="submit">BID ME</button>
                        </form>

                        <H1 th:if=${result} th:text=${result}></H1>
                    </div>
                </div>
                <div class="row lot-info-row">
                    <div class="col">
                        <H5 class="description">Description</H5>
                        <p class="description" th:text=${lot.description}></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End of #main-content -->

<!--Footer-->
<footer th:insert="footer.html :: footer"></footer>
<!--End of footer-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
</html>