<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:insert="head.html :: head"></head>
<body>
<header th:insert="header.html :: header"></header>
<!--message area-->
<div class=" messages">
    <div class="container" th:each="message : ${userData.messages}">
        <div class="row justify-content-center message-container">
            <div class="col border border-dark message">
                <span th:if="${message.indicator.name() == SUCCESS}" class="icon">
                    <img class="manImg" src="/webapp/assets/img/glyphicons-344-thumbs-up.png"/>
                </span>
                <span th:unless="${message.indicator.name() == SUCCESS}" class="icon">
                    <img class="manImg" src="/webapp/assets/img/glyphicons-345-thumbs-down.png"/>
                </span>
                <h3 th:text="${message.text}"></h3>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer th:insert="footer.html :: footer"></footer>
<!--End of footer-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
</html>